@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/**
* ! CSS Variables
**/

:root{
    --primary-tomato: hsl(4, 100%, 67%);
    --neutral-dark-slate-grey: hsl(234, 29%, 20%);
    --neutral-charcoal-grey: hsl(235, 18%, 26%);
    --neutral-grey: hsl(231, 7%, 60%);
    --white: hsl(0, 0%, 100%);
}


/**
* ! Resetting Base Styles
**/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

/**
* ! Typography
**/

/**
* ! Components
**/